# Ignore all
*

# Unignore all directories
!*/

# Unignore relevant files
!*.nuspec
!*.ps1
!.gitignore
!README.md

# Application-specific files
!ltspice/tools/*
!codecomposerstudio/tools/install_options.txt
